.card{
    margin-top: 2rem;
    margin-right: var(--cardColumnGap);
    background-color: white;
    padding: 1rem;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: 156px;
}

.card__text{
    color: var(--preto-100);
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-top: 0.8rem;
}

@media screen and (min-width:532px){
    .card{
        max-width: 224px;
    }
}

@media screen and (min-width:1440px){
    .card{
        max-width: 176px;
        height: 174px;
    }
}