.contato{
    padding: 2rem;
    background-color: var(--azul-10);
    display: flex;
    justify-content: center;
}

.contato__imgContainer{
    display: none;
}

.contato__title{
    color: var(--preto-100);
    font-size: 1.375rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.contato__text{
    color: var(--preto-100);
    font-size: 1rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.2rem;
}

.contato__form{
    width: 100%;
    width: 656px;
}

.contato__formField{
    width: 100%;
    margin-bottom: 2rem;
}

.contato__formFieldContainer{
width: 100%;
height: 56px;
display: flex;
flex-direction: column;
justify-content: center;
background-color: white;
border-radius: 4px;
}

.contato__formField--textArea .contato__formFieldContainer{
    height: 133px;
    padding-top: 0.56rem;
}

.contato__formLabel{
    color: var(--preto-50);
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: none;
}

.contato__formInput::placeholder{
    color: var(--preto-50);
    font-size: 1rem;
    font-family: 'Raleway',sans-serif;
    line-height: 1.25rem;
}

.contato__formInput{
    border-radius: 4px;
    height: 100%;
    padding-top: 0.44rem;
    padding-bottom: 0.44rem;
    border: none;
    border-bottom: 0.0625rem solid var(--preto-30);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: var(--preto-100);
    font-size: 1rem;
    font-family: 'Raleway',sans-serif;
    line-height: 1.25rem;
    resize: none;
    caret-color: var(--azul-100);
}



.contato__formInput:focus{
    border-bottom: 0.125rem solid var(--azul-100);
    outline: none;
}

.contato__formError{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    line-height: 1.25rem;
    font-size: 0.85rem;
    color: var(--vermelho-50);
    margin-top: 0.3rem;
}

@media screen and (min-width:1440px){
    .contato{
        display: flex;
    }
    .contato__title{
        font-size: 2rem;
    }
    .contato__imgContainer{
        max-width: 464px;
        display: block;
        margin-right: 1rem;
    }
    .contato__img{
        width: 100%;
    }
}